    <%- include('./common/header.ejs') %>

		<section class="home">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-12 col-xs-12">
					
						<div class="owl-carousel owl-theme slide" id="featured">

							<% banners.forEach(banner=>{ %>

							<div class="item">
								<article class="featured">
									<div class="overlay"></div>
									<figure>
										<img src="uploads/<%= banner.coverImg %>" alt="Sample Article">
									</figure>
									<div class="details">
										<div class="category"><a href="category.html"><%= banner.title %></a></div>
										<h1><a href="javascript:void(0)"><%= banner.description.substring(0,10) + '....' %></a></h1>
										<div class="time"><%= moment(banner.created_at).format('MMMM Do YYYY') %></div>
									</div>
								</article>
							</div>
							<% })%>
						</div>
						<div class="line">
							<div>Latest News</div>
						</div>
						<div class="row">
							<% 
							is_first_column = true;
							is_second_column = false;
							%>

							<% data.forEach(post=>{  %>
								<% if(is_first_column){ %>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="row">

									<article class="article col-md-12">
										<div class="inner">
											<figure>
												<a href="/post_detail/<%= post._id%>">
													<img src="/uploads/<%= post.coverImg%>" alt="Sample Article">
												</a>
											</figure>
											<div class="padding">
												<div class="detail">
													<div class="time"><%= moment(post.created_at).format('MMMM Do YYYY') %></div>
													<div class="category"><a href="category.html"><%= username%></a></div>
												</div>
												<h2><a href="/post_detail/<%= post._id%>"><%= post.title%></a></h2>
												<p><%= post.description.substring(0,50) + '....' %></p>
												<footer>
													<a href="#" class="love"><i class="ion-android-favorite-outline"></i> <div>1263</div></a>
													<a class="btn btn-primary more" href="javascript:void(0)">
														<div>More</div>
														<div><i class="ion-ios-arrow-thin-right"></i></div>
													</a>
												</footer>
											</div>
										</div>
									</article>
									


								</div>
							</div>
							<% is_first_column = false; %>
							<% } else { %>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="row">
							
									<article class="article col-md-12">
										<div class="inner">
											<figure>
												<a href="/post_detail/<%= post._id%>">
													<img src="/uploads/<%= post.coverImg%>" alt="Sample Article">
												</a>
											</figure>
											<div class="padding">
												<div class="detail">
													<div class="time"><%= moment(post.created_at).format('MMMM Do YYYY') %></div>
													<div class="category"><a href="category.html"><%= username%></a></div>
												</div>
												<h2><a href="/post_detail/<%= post._id%>"><%= post.title%></a></h2>
												<p><%= post.description.substring(0,50) + '....' %></p>
												<footer>
													<a href="#" class="love"><i class="ion-android-favorite-outline"></i> <div>1263</div></a>
													<a class="btn btn-primary more" href="javascript:void(0)">
														<div>More</div>
														<div><i class="ion-ios-arrow-thin-right"></i></div>
													</a>
												</footer>
											</div>
										</div>
									</article>
								</div>
							</div>
							<% is_second_column = true; %>
							<% } %>

							<% })%>

						</div>

					
				
					
					</div>
					<div class="col-xs-6 col-md-4 sidebar" id="sidebar">
						<div class="sidebar-title for-tablet">Sidebar</div>
						<aside>
							<div class="aside-body">
								<div class="featured-author">
									<div class="featured-author-inner">
										<div class="featured-author-cover" style="background-image: url('assets/images/news/img15.jpg');">
											<div class="badges">
												<div class="badge-item"><i class="ion-star"></i> Featured</div>
											</div>
											<div class="featured-author-center">
												<figure class="featured-author-picture">
													<img src="assets/images/img01.jpg" alt="Sample Article">
												</figure>
												<div class="featured-author-info">
													<h2 class="name">John Doe</h2>
													<div class="desc">@JohnDoe</div>
												</div>
											</div>
										</div>
										<div class="featured-author-body">
											<div class="featured-author-count">
												<div class="item">
													<a href="#">
														<div class="name">Posts</div>
														<div class="value">208</div>														
													</a>
												</div>
												<div class="item">
													<a href="#">
														<div class="name">Stars</div>
														<div class="value">3,729</div>														
													</a>
												</div>
												<div class="item">
													<a href="#">
														<div class="icon">
															<div>More</div>
															<i class="ion-chevron-right"></i>
														</div>														
													</a>
												</div>
											</div>
											<div class="featured-author-quote">
												"Eur costrict mobsa undivani krusvuw blos andugus pu aklosah"
											</div>
											<div class="block">
												<h2 class="block-title">Photos</h2>
												<div class="block-body">
													<ul class="item-list-round" data-magnific="gallery">
														<li><a href="assets/images/news/img06.jpg" style="background-image: url('assets/images/news/img06.jpg');"></a></li>
														<li><a href="assets/images/news/img07.jpg" style="background-image: url('assets/images/news/img07.jpg');"></a></li>
														<li><a href="assets/images/news/img08.jpg" style="background-image: url('assets/images/news/img08.jpg');"></a></li>
														<li><a href="assets/images/news/img09.jpg" style="background-image: url('assets/images/news/img09.jpg');"></a></li>
														<li><a href="assets/images/news/img10.jpg" style="background-image: url('assets/images/news/img10.jpg');"></a></li>
														<li><a href="assets/images/news/img11.jpg" style="background-image: url('assets/images/news/img11.jpg');"></a></li>
														<li><a href="assets/images/news/img12.jpg" style="background-image: url('assets/images/news/img12.jpg');"><div class="more">+2</div></a></li>
														<li class="hidden"><a href="assets/images/news/img13.jpg" style="background-image: url('assets/images/news/img13.jpg');"></a></li>
														<li class="hidden"><a href="assets/images/news/img14.jpg" style="background-image: url('assets/images/news/img14.jpg');"></a></li>
													</ul>
												</div>
											</div>
											<div class="featured-author-footer">
												<a href="#">See All Authors</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</aside>
						<aside>
							<h1 class="aside-title">Popular <a href="#" class="all">See All <i class="ion-ios-arrow-right"></i></a></h1>
							<div class="aside-body">

								<% popular.forEach(post=>{%>
								<article class="article-mini">
									<div class="inner">
										<figure>
											<a href="/post_detail/<%= post._id%>">
												<img src="/uploads/<%= post.coverImg%>" alt="Sample Article">
											</a>
										</figure>
										<div class="padding">
											<h1><a href="/post_detail/<%= post._id%>"><%= post.title%></a></h1>
										</div>
									</div>
								</article>
								<% }) %>
							</div>
						</aside>
						<aside>
							<div class="aside-body">
								<%- include('./newslatter') %>
							</div>
						</aside>

						<aside>
							<h1 class="aside-title">Videos
								<div class="carousel-nav" id="video-list-nav">
									<div class="prev"><i class="ion-ios-arrow-left"></i></div>
									<div class="next"><i class="ion-ios-arrow-right"></i></div>
								</div>
							</h1>
							<div class="aside-body">
								<ul class="video-list" data-youtube='"carousel":true, "nav": "#video-list-nav"'>
									<% videos.forEach(post=>{%>
									<li>
										<iframe width="100%" height="200" src="<%= post.link%>" frameborder="0" allowfullscreen></iframe>

									</li>
									<% }) %>

								</ul>
							</div>
						</aside>

					</div>
				</div>
			</div>
		</section>

		<section class="best-of-the-week">
			<div class="container">
				<h1><div class="text">Best Of The Week</div>
					<div class="carousel-nav" id="best-of-the-week-nav">
						<div class="prev">
							<i class="ion-ios-arrow-left"></i>
						</div>
						<div class="next">
							<i class="ion-ios-arrow-right"></i>
						</div>
					</div>
				</h1>
				<div class="owl-carousel owl-theme carousel-1">
					<% bestOftheWeek.forEach(post=>{  %>

					<article class="article">
						<div class="inner">
							<figure>
								<a href="/post_detail/<%= post._id%>">
									<img src="/uploads/<%= post.coverImg%>" alt="Sample Article">
								</a>
							</figure>
							<div class="padding">
								<div class="detail">
										<div class="time">%= moment(post.created_at).format('MMMM Do YYYY') %></div>
										<div class="category"><a href="category.html"><%= username%></a></div>
								</div>
								<h2><a href="javascript:void(0)"><%= post.title%></a></h2>
								<p><%= post.description.substring(0,50) + '....' %></p>
							</div>
						</div>
					</article>

					<% }) %>

				</div>
			</div>
		</section>

        <%- include('./common/footer.ejs') %>